.navbar {
  overflow-x: hidden;
  width: 100vw;
}

.navbar-wrapper {
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* position: absolute; */
  right: 20px;
  transition: 0.5s all;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
}

.toggle-btn-close {
  display: none;
}

.mobile-navbar {
  height: 100vh;
  width: 100vw;
  padding-top: 17px;
  background-color: rgba(0, 0, 0, 0.383);
  opacity: 0;
  transition: opacity 0.4s;
  position: absolute;
  left: 0;
  overflow-x: hidden;
}

.navbar-opened .mobile-navbar {
  opacity: 1;
}

.mobile-navbar ul {
  background-color: white;
  margin: 0 auto;
  width: calc(100vw - 44px);
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  transition: 0.9s transform ease;
}

.mobile-navbar ul li {
  list-style: none;
  padding: 15px;
}

.mobile-navbar ul li a {
  text-decoration: none;
  color: var(--dark-blue);
  cursor: pointer;
}

/* animacie pre navbar mobile */

.navbar-opened .mobile-navbar ul {
  transform: translateX(0);
}

.navbar-closed .mobile-navbar ul {
  transform: translateX(150%);
}

.navbar-opened .toggle-btn-open {
  transform: translateX(50px);
}

.navbar-opened .toggle-btn-close {
  transform: translateX(0);
  animation: btn-visible 0.5s;
}

.navbar-closed .toggle-btn-open {
  transform: translateX(0);
  animation: btn-visible 0.5s;
}

.navbar-closed .toggle-btn-close {
  transform: translateX(50px);
}

@keyframes btn-visible {
  from {
    transform: translateX(50px);
  }
  to {
    transform: translateX(0);
  }
}

.navbar .mobile {
  display: block;
}

.navbar .desktop {
  display: none;
}

@media (min-width: 400px) {
  .navbar .mobile {
    display: none;
  }

  .navbar .desktop {
    display: block;
  }
}
