.navbar {
  overflow-x: hidden;
  width: 100vw;
  z-index: 10;
}

.navbar-wrapper {
  width: 100vw;
  height: 65px;
  overflow-x: hidden;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-wrapper > img {
  height: 20px;
  cursor: pointer;
}

.toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* position: absolute; */
  right: 20px;
  transition: 0.5s all;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
}

.toggle-btn-close {
  display: none;
}

.navbar .display-none {
  display: none;
}

.navbar .display-block {
  display: block;
}

.mobile-navbar {
  height: 100vh;
  width: 100vw;
  padding-top: 17px;
  background-color: rgba(0, 0, 0, 0.383);
  opacity: 0;
  transition: opacity 0.4s;
  position: absolute;
  left: 0;
  overflow-x: hidden;
  z-index: 100;
}

.navbar-opened .mobile-navbar {
  opacity: 1;
}

.mobile-navbar ul {
  background-color: white;
  margin: 0 auto;
  width: calc(100vw - 44px);
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  transition: 0.9s transform ease;
}

.mobile-navbar ul li {
  list-style: none;
  padding: 15px;
}

.mobile-navbar ul li a {
  text-decoration: none;
  color: var(--dark-blue);
  cursor: pointer;
}

/* animacie pre navbar mobile */

.navbar-opened .mobile-navbar ul {
  transform: translateX(0);
}

.navbar-closed .mobile-navbar ul {
  transform: translateX(150%);
}

.navbar-opened .toggle-btn-open {
  transform: translateX(50px);
}

.navbar-opened .toggle-btn-close {
  transform: translateX(0);
  animation: btn-visible 0.5s;
}

.navbar-closed .toggle-btn-open {
  transform: translateX(0);
  animation: btn-visible 0.5s;
}

.navbar-closed .toggle-btn-close {
  transform: translateX(50px);
}

@keyframes btn-visible {
  from {
    transform: translateX(50px);
  }
  to {
    transform: translateX(0);
  }
}

.navbar .desktop {
  display: none;
}

/* desktop */
.navbar .desktop-navbar-links {
  display: none;
  flex-direction: row;
}

.navbar .desktop-navbar-links li {
  list-style: none;
  padding: 25px 0;
  background: rgb(49, 211, 92);
  background: linear-gradient(
    90deg,
    rgba(49, 211, 92, 1) 0%,
    rgba(43, 183, 218, 1) 100%
  );
}

.navbar .desktop-navbar-links li a {
  text-decoration: none;
  color: hsl(233, 8%, 62%);
  padding: 25px 16px;
  border-bottom: 4px solid unset;
  position: relative;
  background-color: white;
}

.navbar .desktop-navbar-links li a:hover {
  padding-bottom: 22px;
  transition: 0.25s padding-bottom;
}

.navbar .request-btn {
  display: none;
}

@media (min-width: 900px) {
  .navbar .mobile {
    display: none !important;
  }

  .navbar .desktop-navbar-links {
    display: flex;
  }

  .navbar-wrapper {
    width: 90%;
    height: 80px;
    margin: 0 auto;
  }

  .navbar .request-btn {
    display: block;
  }
}
