.navbar {
  width: 100vw;
  height: 60px;
  background-color: var(--white);
}

.navbar-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  background-color: red;
}

.navbar .toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 1s all;
  position: absolute;
  right: 20px;
}

.toggle-btn-close {
  transform: translateX(60px);
}

.mobile-navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.404);
  text-align: center;
  overflow: hidden;
}

.mobile-navbar-opened {
  height: 100vh;
}

.mobile-navbar-closed {
  height: 0;
}

.mobile-navbar ul {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 90%;
  margin: 0 auto;
  /* padding: 15px 0; */
  border-radius: 7px;
  overflow: hidden;
  transition: height 0.5s ease-in;
  transform: translateY(15px);
}

.mobile-navbar-opened ul {
  height: 285px;
  /* transition: 0.2s all ease-in; */
}

.mobile-navbar-closed ul {
  height: 0;
  padding: 0;
  /* transition: 1s all ease-in; */
}

.mobile-navbar ul li {
  list-style: none;
  padding: 15px 0;
}

.mobile-navbar ul li:first-child {
  padding-top: 30px;
}

.mobile-navbar ul li a {
  text-decoration: none;
  color: var(--dark-blue);
  cursor: pointer;
}
