@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
}

:root {
  /* primary */
  --dark-blue: #2d314d;
  --lime-green: #31d35c;
  --bright-cyan: #2bb7da;

  /* neutral */
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: rgb(255, 255, 255);
}

.App {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

html,
body {
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.generation-part {
  background-color: var(--very-light-gray);
}

.generation-part .img-part {
  position: relative;
  min-height: 280px;
  background-image: url("./images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 400px) {
  .generation-part .img-part {
    min-height: 380px;
  }
}

@media (min-width: 500px) {
  .generation-part .img-part {
    min-height: 500px;
  }
}

@media (min-width: 700px) {
  .generation-part .img-part {
    min-height: 600px;
  }
}

.generation-part .img-part::before {
  content: "";
  position: absolute;
  background-image: url("./images/image-mockups.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 93%;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.generation-part .text-part {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 80px;
}

.generation-part .text-part h2 {
  font-size: 37px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--dark-blue);
}

.generation-part .text-part p {
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 30px;
  line-height: 1.6;
  color: var(--grayish-blue);
}

@media (min-width: 992px) {
  .generation-part {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .generation-part .text-part {
    flex: 4;
    text-align: left;
    margin-left: 7vw;
    padding-right: 20px;
  }

  .generation-part .text-part h2 {
    font-size: 42px;
  }

  .generation-part .text-part p {
    font-size: 1rem;
  }

  .generation-part .img-part {
    flex: 7;
    min-height: 655px;
    background-image: url("./images/bg-intro-desktop.svg");
    background-size: 130% 150%;
    background-position: 0% 77%;
    width: 150%;
  }

  .generation-part .img-part::before {
    background-position: center center;
    background-size: contain;
    top: -10%;
    left: 19%;
    height: 140%;
  }
}

/* -------------------reasons part-----------------*/
.reasons-part {
  text-align: center;
  padding: 65px 0;
  background-color: var(--light-grayish-blue);
}

.reasons-part h3 {
  width: 70%;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 auto;
  padding-bottom: 27px;
  color: var(--dark-blue);
}

.reasons-part p {
  font-size: 15px;
  color: var(--grayish-blue);
  line-height: 1.6;
}

.reasons {
  margin-top: 56px;
}

.reason img,
.reason h4 {
  padding-bottom: 25px;
}

.reason h4 {
  font-size: 18px;
  font-weight: 400;
  color: var(--dark-blue);
}

.reason p {
  padding-bottom: 34px;
}

@media (min-width: 768px) {
  .reasons .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 85%;
  }

  .reasons-part {
    text-align: left;
    padding: 110px 0;
  }
  .reasons-part h3 {
    font-size: 38px;
    margin: 0;
    padding-bottom: 40px;
  }

  .reasons-part p {
    font-size: 1rem;
  }

  .reasons {
    margin-top: 78px;
  }

  .reasons .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  .reason img {
    padding-bottom: 40px;
  }

  .reason h4 {
    padding-bottom: 32px;
  }
}

/* ---------------------------- articles part --------------------------------- */
.articles-part {
  padding-top: 85px;
  padding-bottom: 60px;
  background-color: var(--very-light-gray);
  text-align: center;
}

.articles-part h3 {
  font-size: 26px;
  padding-bottom: 35px;
}

.articles-part a {
  font-size: 15px;
  padding-bottom: 13px;
  text-decoration: none;
  display: inline-block;
}

.articles-part a:hover {
  color: var(--lime-green);
}

.articles-part h3,
.articles-part a {
  color: var(--dark-blue);
  font-weight: 400;
}

.article:hover {
  transform: translateY(-5px);
  background-color: var(--light-grayish-blue);
  transition: 0.3s all;
  border-radius: 8px;
}

.article img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  padding-bottom: 28px;
}

.article .text-wrapper {
  width: 84%;
  margin: 0 auto;
  text-align: left;
}

.articles-part .author {
  font-size: 12px;
  padding-bottom: 13px;
}

.articles-part p {
  font-size: 12px;
  line-height: 1.2;
  padding-bottom: 60px;
  color: var(--grayish-blue);
}

@media (min-width: 768px) {
  .articles-part .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

@media (min-width: 992px) {
  .articles-part .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  .articles-part {
    text-align: left;
  }

  .articles-part h3 {
    margin-left: 7.5vw;
    font-size: 2.3rem;
    padding-bottom: 52px;
  }
}
